{%extends "layout.html"%}
{%block content%}
<div class="words-about-me">
    <h2>About</h2>
    <p>
        Digital Systems Bachelor's Degree student , creating data analysis and ML projects and decided to go to the field
        of software engineering 
    </p>
    <p>
        In my free time, i like creating and learning new stuff in my daily life (from work related all the way to daily-life related)
    </p>
</div>
<div class="Education-container">
        <div class="Education">
            <p style="color: gray;"><em>Education</em></p>
             <h2>My Academic Career</h2>
        </div>
        <div class="col-md-6">
            <h3>Erasmus+ Exchange Program</h3>
            <p class="school"><strong><a href="https://www.su.se/cmlink/stockholm-university">Stockholm University</a></strong>, Sweden, 2024-2025</p>
            <p>
                <strong>Erasmus+</strong> Bachelor's Degree Exchange at <a href="https://www.su.se/cmlink/stockholm-university" class="University-link">Stockholm University</a>, Sweden.<br>
                <strong>Duration:</strong> One semester<br>
                <strong>Main Courses: </strong>Business Process and Case Managment , Quantum Programming , Introduction to Information Security
            </p><br><br>
            <h3>Bachelor's Degree in Digital Systems</h3>
            <p class="school"><strong><a href="https://www.ds.unipi.gr/">University of Piraeus</a></strong>, Greece, 2022-Current</p>
            <p>
                <strong >Expected Graduation in 2026</strong><br>
                <strong>Erasmus+</strong> Exchange at <a href="https://www.su.se/cmlink/stockholm-university" class="University-link">Stockholm University</a>, Sweden<br>
                <strong>University Courses: </strong><a href="https://www.ds.unipi.gr/courses/" class="University-link">Here</a>
            </p>
        </div>
        
    
</div>
 <div class="Speaking-Languages">
    <div class="Speaking">
        <p style="color:gray;"><em>Languages</em></p>
        <h2>My Language Skills</h2>
    </div>
    <div class="col-md-6">
        <ul>
            <li style="color: gray;"><strong style="color:white;">Greek: </strong>Native Language</li>
            <li style="color:gray"><strong style="color:white;">English: </strong> C2 level (Proficiency)</li>
            <li style="color: gray"><strong style="color:white">Spanish: </strong> B1 nivel(level)</li>
        </ul>
    </div>
</div>
<div class="Programming-skills">
    <div class = 'Tools'>
        <p style="color: gray;"><em>Tools</em></p>
        <h2>Programming Tools that use</h2>
    </div>
    <div class="col-md-6">
        <ul style="color:gray">
            <li><strong style="color: white;">Programming Languages: </strong>Python , C# , HTML , CSS </li>
            <li><strong style="color: white;">Database: </strong>MySQL</li>
            <li><strong style="color: white;">Web Scraping: </strong>BeautifulSoup</li>
            <li><strong style="color: white;">Data Analysis & Manipulation: </strong>Pandas, NumPy, Excel</li>
            <li><strong style="color: white;">Data Visualization: </strong>Seaborn, Matplotlib, PowerBi</li>
            <li><strong style="color: white;">Machine Learning:</strong> Scikit-Learn, Tensorflow</li>
            <li><strong style="color: white;">Web Development & API: </strong>Flask</li>       
        </ul>
    </div>
</div>
<div class="Certifications">
    <div class="certifications-achieved">
        <p style="color:gray;">Certifications</p>
        <h2>My Certifications</h2>
    </div>  
    <div class="col-md-6">
        <ul style="color:gray;">
                <li><strong style="color: white;">Football Data Analyst: </strong><a class="certific-link" href="https://www.credly.com/badges/d254f656-d8e6-4ad3-ad5b-a67dba714500/linked_in_profile">Here</a></li>
                <li><strong style="color:white;">Fundamentals of Deep Learning: </strong> <a class="certific-link" href="https://learn.nvidia.com/certificates?id=U2nXWn_1QJWffoNAxPJHLA">Here</a></li>
                <li><strong style="color:white;">Attended in the Information Security Conference of the Security BSides Athens
                </strong></li>
                <li><strong style ='color: white;'>Attended in the Big Data Analytics and Web Development with AI Conference of IEEE University of Piraeus Student Branch
                </strong></li>
        </ul>
    </div>
</div>
{%endblock content%}