{% extends "layout.html" %}
{% block content %}
<div class="words-about-me">
    <h2 id="headlineContact"><em><b>Contact</b></em></h2>
    <p>If you have any interesting idea, job offer, or a collaboration, if you want to ask me anything for advice or just to say hello, please contact me!</p>
    <div class="col-md-10">
        <form method="POST" id ="contactForm" action="">
            {{ form.hidden_tag() }}

            <!-- Name Field -->
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class='form-control form-control-lg' + (' is-invalid' if form.name.errors else ''), placeholder='Your Name') }}
                {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Email Field -->
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class='form-control form-control-lg' + (' is-invalid' if form.email.errors else ''), placeholder='Your Email') }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Text Area Field -->
            <div class="form-group">
                {{ form.text_area.label }}
                {{ form.text_area(class='form-control form-control-lg' + (' is-invalid' if form.text_area.errors else ''), placeholder='Enter your text here', rows=4,cols=10) }}
                {% if form.text_area.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.text_area.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="form-group " id="submit-area" style="margin-top: 20px;">
                {{ form.submit(label='Send Message', class='btn btn-submit btn-lg') }}
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}
